<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>CS546 project</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <link rel="stylesheet" href="../css/bulma-divider.css" />
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      {{! .navbar-brand for your company, product, or project name. }}
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="main-logo" src="../images/logo.png" alt="Logo" />
        </a>
        <a class="navbar-item nav-title" href="/">
          <strong>Lost and Found</strong>
        </a>

        {{! The navbar-burger is a hamburger menu that only appears on touch devices. }}
        {{! It has to appear as the last child of navbar-brand. }}
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      {{! end of .navbar-brand}}

      <div id="navbarMenu" class="navbar-menu">

        <div class="navbar-start">
          <a class="navbar-item  is-size-5 has-text-weight-semibold" href="/">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-size-5 has-text-weight-semibold">
              Service
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Seeker
              </a>
              <a class="navbar-item is-selected">
                Finder
              </a>
              <a class="navbar-item">
                Search filters
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="/about">
                About
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-item field has-addons searchbar">
          <div class="control">
            <input class="input" type="text" placeholder="Search">
          </div>
          <div class="control">
            <button class="button is-black">
              Search
            </button>
          </div>
        </div>

        <div class="navbar-end">

          {{#if loggedIn}}
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="/dashboard"><i
              class="fa fa-dashboard icon"></i>
            Dashboard
          </a>
          <a class="navbar-item  is-size-5 has-text-weight-semibold"><i class="fas fa-user icon "></i>
            Profile
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="/logout/"><i
              class="fas fa-sign-out-alt icon "></i>
            Logout
          </a>
          {{else}}
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="/login/"><i class="fas fa-user-tie icon"></i>
            Login
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="/signup/"><i
              class="fas fa-sign-out-alt icon"></i>
            Signup
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
  {{{body}}}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>CS546 Final Project</strong>
        -
        <a href="https://github.com/liruikang0126/Stevens-Lost-Found-Forum" target="_blank">Github Repository</a>
        - Node.js, Express.js, Handlebars.js, MongoDB, Bulma
      </p>
    </div>
    <div class="logged-in-user-id is-invisible">{{loggedInUserData._id}}</div>
  </footer>
  <script src="/js/main.js"></script>
</body>

</html>