<section class="hero ">
    <h1 class="is-invisible">About</h1>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <figure class="image is-16by9">
                        <img src="images/team_group33.png" class="item-image" alt="group members">
                    </figure>
                </div>
            </div>
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="title about">About</h2>
                            <hr class="line-about" />
                            <h6 class="about">by group 33</h6>
                            <p>Welcome to our website, crafted as the culmination of our journey through CS546. Inspired
                                by the theme of practicality, our project serves as a valuable solution for reuniting
                                lost items with their rightful owners.</p>
                            <p>At its core, our platform boasts a robust search feature, meticulously designed to aid
                                individuals in locating their misplaced belongings swiftly. But our commitment doesn't
                                end there.</p>
                            <p>We understand the distress of losing something valuable, which is why we've integrated a
                                comprehensive lost item reporting system. Through this feature, users can effortlessly
                                upload a photo, provide intricate details, and input crucial information such as the
                                item's last known location, the time it went missing, and relevant contact details.</p>
                            <p>By leveraging this data, we empower individuals who stumble upon lost items to connect
                                with their owners seamlessly, facilitating the swift and hassle-free return of
                                belongings to their rightful homes.</p>
                            <p>Thank you for joining us on this endeavor towards practicality and community assistance.
                                Together, let's make lost and found a little less lost and a lot more found.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>