<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <figure class="image">
                        <img src="../images/team_group33.png" alt="group members">
                    </figure>
                </div>
            </div>
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h1 class="title"><a href="/post/{{posts.0.0._id}}">CS546 final project</a></h1>
                            <h6>by group 33</h6>
                            <p>content</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>